.Weather {
  background-image: url("mountain-monochromatic-7a7ec.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 125%;
  border: 5px solid #0f282e;
  border-radius: 15px;
  box-shadow: 15px 15px #bdede0;
  color: white;
  font-size: 14px;
  padding: 15px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather .search-bar {
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  padding: 8px;
  width: 75%;
}

.Weather .submit-button {
  background-color: #205460;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
  padding: 8px;
  width: 22%;
}

.Weather .submit-button:hover {
  opacity: 0.7;
  transition: all 200ms ease-in-out;
}

.Weather h1 {
  color: #f15924;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: bold;
  margin: 20px 0 0 0;
  line-height: 42px;
  text-align: left;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  text-align: left;
}

.Weather canvas {
  display: inline-block;
  padding: 8px;
}

.Weather .temperature {
  color: white;
  font-size: 72px;
  font-weight: bold;
  line-height: 80px;
  text-align: left;
}

.Weather .unit {
  font-size: 28px;
  line-height: 1;
  position: relative;
  margin-left: 5px;
  top: -31px;
}
